# Configuration for interacting with the =nil; cluster

# Specify the RPC endpoint of your cluster
# For example, if your cluster's RPC endpoint is at "http://127.0.0.1:8529", set it as below
NIL_RPC_ENDPOINT=http://127.0.0.1:8529

# Specify the private key used for signing transactions
# This should be a hexadecimal string corresponding to your account's private key
PRIVATE_KEY=397d8c9b34b10f28be32dd524f8614f557842f6f3d9783d310a6a6459a809bef

# Specify the wallet address associated with your private key
# Wallets can be created using the =nil; CLI
# This address will be used for transactions on the =nil; network
NIL_WALLET_ADDR=0x0001d0C54F86d25B4D5248c2243CBBF0727eE924
